



<h1>Helpful Advice</h1>
<p style="
color: white;
margin: 20px;
border-width: 15x;
border-radius: 5px;
border-color: black;
border-style: solid;
font-weight: bold;
background: linear-gradient(45deg, green, blue, indigo, violet);
display: inline;

"><%= @advice %></p>

<form style="
margin: 20px">
  <label> <input type="checkbox" name="click" value="yes"> 
  Click if you liked this piece of advice.
  </label>
  <button>
  Submit
  </button>
</form>
